**Plan**

Question
1. Which model can best predict whether or not you will get a Kickstarter funding?
2. Which "live" projects will likely be funded?

Steps:
1. Acquire and Prep
2. Explore
    - Which features are the strongest predictors of funding? (Feature selection)
    - Out of the ones that received funding, which ones are over funded and underfunded?
3. Model
4. Evaluate

### Packages

In [1]:
import wrangle
import pandas as pd

## Acquire

Read csv file from local repo using `get_kickstarter` function from `wrangle.py`.

In [54]:
def get_kickstarter():
    df = pd.read_csv("/Users/cris/codeup-data-science/kickstarter_project/kickstarter.csv")
    return df

In [75]:
org = pd.read_csv("/Users/cris/codeup-data-science/kickstarter_project/countryContinent.csv",encoding="latin-1")

In [76]:
states = pd.read_csv("/Users/cris/codeup-data-science/kickstarter_project/us_states.csv",encoding="latin-1")

In [77]:
org.head()

,country,code_2,code_3,country_code,iso_3166_2,continent,sub_region,region_code,sub_region_code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,142.0,34.0
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,150.0,154.0
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,150.0,39.0
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,2.0,15.0
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,9.0,61.0

In [78]:
org = org.rename(columns={"country":"origin"})

In [79]:
org = org[["origin","continent","sub_region"]]

In [80]:
org

,origin,continent,sub_region
0,Afghanistan,Asia,Southern Asia
1,Åland Islands,Europe,Northern Europe
2,Albania,Europe,Southern Europe
3,Algeria,Africa,Northern Africa
4,American Samoa,Oceania,Polynesia
5,Andorra,Europe,Southern Europe
6,Angola,Africa,Middle Africa
7,Anguilla,Americas,Caribbean
8,Antarctica,NaN,NaN
9,Antigua and Barbuda,Americas,Caribbean
10,Argentina,Americas,South America
11,Armenia,Asia,Western Asia
12,Aruba,Americas,Caribbean
13,Australia,Oceania,Australia and New Zealand
14,Austria,Europe,Western Europe
15,Azerbaijan,Asia,Western Asia
16,Bahamas,Americas,Caribbean
17,Bahrain,Asia,Western Asia
18,Bangladesh,Asia,Southern Asia
19,Barbados,Americas,Caribbean
20,Belarus,Europe,Eastern Europe
21,Belgium,Europe,Western Europe
22,Belize,Americas,Central America
23,Benin,Africa,Western Africa
24,Bermuda,Americas,Northern America
25,Bhutan,Asia,Southern Asia
26,Bolivia (Plurinational State of),Americas,South America
27,"Bonaire, Sint Eustatius and Saba",Americas,Caribbean
28,Bosnia and Herzegovina,Europe,Southern Europe
29,Botswana,Africa,Southern Africa
...,...,...,...
219,"Tanzania, United Republic of",Africa,Eastern Africa
220,Thailand,Asia,South-Eastern Asia
221,Timor-Leste,Asia,South-Eastern Asia
222,Togo,Africa,Western Africa
223,Tokelau,Oceania,Polynesia
224,Tonga,Oceania,Polynesia
225,Trinidad and Tobago,Americas,Caribbean
226,Tunisia,Africa,Northern Africa
227,Turkey,Asia,Western Asia
228,Turkmenistan,Asia,Central Asia
229,Turks and Caicos Islands,Americas,Caribbean
230,Tuvalu,Oceania,Polynesia
231,Uganda,Africa,Eastern Africa
232,Ukraine,Europe,Eastern Europe
233,United Arab Emirates,Asia,Western Asia
234,United Kingdom of Great Britain and Northern I...,Europe,Northern Europe
235,United States of America,Americas,Northern America
236,United States Minor Outlying Islands,NaN,NaN
237,Uruguay,Americas,South America
238,Uzbekistan,Asia,Central Asia
239,Vanuatu,Oceania,Melanesia
240,Venezuela (Bolivarian Republic of),Americas,South America
241,Viet Nam,Asia,South-Eastern Asia
242,Virgin Islands (British),Americas,Caribbean
243,Virgin Islands (U.S.),Americas,Caribbean
244,Wallis and Futuna,Oceania,Polynesia
245,Western Sahara,Africa,Northern Africa
246,Yemen,Asia,Western Asia
247,Zambia,Africa,Eastern Africa
248,Zimbabwe,Africa,Eastern Africa

In [83]:
states = states[["State","Code"]]
states.head()

        State Code
0     Alabama   AL
1      Alaska   AK
2     Arizona   AZ
3    Arkansas   AR
4  California   CA

In [55]:
kick = get_kickstarter()

**Data Cleaning**

- Kept these columns "name","category","subcategory","location","status","goal","funded percentage","backers","duration"
- Location NaN was changed to Unknown (about 1322 - too big of a sample to drop)
- Split city and state/country in location

In [15]:
kick[kick.location.isnull()]

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,backers,funded date,levels,reward levels,updates,comments,duration
11,727286,Offline Wikipedia iPhone app,http://www.kickstarter.com/projects/dphiffer/o...,Technology,Open Software,NaN,successful,99.0,145.0,1.464646,25,"Tue, 14 Jul 2009 06:59:59 -0000",1,$1,5,19,79.64
14,893085,Esperanza Farm: A Novel,http://www.kickstarter.com/projects/JesusMaria...,Publishing,Fiction,NaN,failed,6500.0,765.0,0.117692,20,"Fri, 16 Jul 2010 03:59:00 -0000",7,"$5,$10,$25,$50,$75,$150,$300",10,0,60.34
49,2442649,Dream with Me--A documentary about one year in...,http://www.kickstarter.com/projects/1800556280...,Film & Video,Documentary,NaN,successful,5000.0,5615.0,1.123000,90,"Fri, 16 Oct 2009 01:08:00 -0000",8,"$10,$25,$50,$100,$500,$1,000,$2,500,$5,000",6,7,30.89
98,4719237,Indie Music Website (iTunes for Indie Musicians),http://www.kickstarter.com/projects/binarykoll...,Music,Indie Rock,NaN,failed,10000.0,10.0,0.001000,1,"Thu, 01 Oct 2009 06:19:00 -0000",3,"$1,$20,$100",0,0,29.98
100,4732285,Insiders/Out: Exploring Outsider Art in America,http://www.kickstarter.com/projects/insidersou...,Art,Art,NaN,successful,2000.0,2000.0,0.999830,30,"Thu, 08 Jul 2010 21:39:00 -0000",13,"$1,$5,$10,$15,$20,$25,$35,$50,$75,$100,$150,$2...",4,1,42.97
104,4948516,STRANGE POSITIONING SYSTEMS (SPS) - A global l...,http://www.kickstarter.com/projects/sps/strang...,Art,Performance Art,NaN,failed,8500.0,695.0,0.081765,15,"Fri, 20 Aug 2010 21:37:00 -0000",10,"$10,$25,$50,$75,$100,$250,$500,$600,$1,000,$1,500",3,1,42.19
120,5785733,Faith - a film by Eli Daughdrill,http://www.kickstarter.com/projects/771183968/...,Film & Video,Film &amp; Video,NaN,failed,50000.0,7890.0,0.157800,25,"Fri, 16 Apr 2010 05:48:00 -0000",8,"$10,$25,$50,$100,$250,$500,$1,000,$5,000",8,2,74.39
151,7808555,Fabric Fiction: A collaborative literary exper...,http://www.kickstarter.com/projects/1930061782...,Publishing,Fiction,NaN,failed,3000.0,582.0,0.194000,13,"Fri, 04 Jun 2010 16:30:00 -0000",10,"$1,$5,$10,$12,$20,$25,$40,$50,$75,$100",7,0,89.94
176,9094253,"The People, Places &amp; Patterns Project",http://www.kickstarter.com/projects/pwc/the-pe...,Photography,Photography,NaN,failed,10000.0,3078.0,0.307752,43,"Tue, 16 Feb 2010 19:11:00 -0000",9,"$30,$60,$80,$100,$150,$250,$500,$1,000,$2,000",11,6,61.67
186,9316432,Produce JigGsaw's never before heard &quot;The...,http://www.kickstarter.com/projects/jiggsaw/pr...,Music,Rock,NaN,failed,700.0,25.0,0.035714,1,"Mon, 07 Jun 2010 04:00:00 -0000",6,"$15,$25,$50,$100,$500,$1,000",0,0,89.78
214,10684812,SLEW HAMPSHIRE: A Tapestry of Transcendental ...,http://www.kickstarter.com/projects/702878921/...,Film & Video,Narrative Film,NaN,successful,15000.0,16222.0,1.081437,79,"Wed, 01 Sep 2010 06:59:00 -0000",9,"$5,$13,$26,$55,$106,$245,$500,$1,000,$5,000",8,0,28.03
244,11603000,Blue Kitabu Gets Sustainable: (Used) Bookstore...,http://www.kickstarter.com/projects/embarreras...,Music,Indie Rock,NaN,failed,10500.0,1240.0,0.118095,25,"Fri, 20 Nov 2009 07:17:00 -0000",13,"$2,$5,$10,$15,$35,$75,$100,$150,$250,$500,$1,0...",5,3,67.22
255,12076273,The Audio Embodiment of the Culture of Food,http://www.kickstarter.com/projects/395442428/...,Food,Food,NaN,successful,1000.0,1438.0,1.438000,14,"Fri, 30 Jul 2010 12:00:00 -0000",3,"$5,$20,$50",0,1,34.56
356,16522468,"The Same Great Story, Told So Many Ways: A Chr...",http://www.kickstarter.com/projects/507279570/...,Music,Music,NaN,failed,17000.0,405.0,0.023824,5,"Tue, 07 Sep 2010 02:00:00 -0000",7,"$5,$25,$50,$100,$250,$500,$1,500",0,0,50.25
374,17279344,Photographing immigration activists on the Ari...,http://www.kickstarter.com/projects/1225211135...,Publishing,Journalism,NaN,failed,1700.0,15.0,0.008824,2,"Thu, 30 Sep 2010 15:23:45 -0000",1,$50,0,0,30.00
392,18124862,Call to Action: Ending Infant Mortality NOW Do...,http://www.kickstarter.com/projects/761443536/...,Film & Video,Documentary,NaN,failed,6000.0,940.0,0.156667,8,"Sun, 20 Jun 2010 23:00:00 -0000",8,"$15,$30,$50,$100,$300,$500,$1,000,$5,000",0,0,50.98
393,18132193,The Zombie Outbreak Response Team,http://www.kickstarter.com/projects/1426675968...,Art,Art,NaN,failed,3000.0,0.0,0.000000,0,"Fri, 13 Aug 2010 21:00:00 -0000",6,"$15,$25,$100,$200,$500,$1,000",0,0,10.58
397,18370566,Help us publish the Barefoot Art Book! :),http://www.kickstarter.com/projects/BarefootLa...,Photography,Photography,NaN,failed,8700.0,3086.0,0.354713,32,"Sun, 04 Jul 2010 19:29:00 -0000",8,"$10,$19,$25,$59,$97,$250,$500,$5,000",14,8,86.96
416,19191290,"&quot;IT'S ALWAYS GREENER&quot;-- a fresh, new...",http://www.kickstarter.com/projects/1922613858...,Film & Video,Webseries,NaN,successful,5000.0,5630.0,1.126000,92,"Sat, 28 Aug 2010 03:59:00 -0000",7,"$5,$10,$25,$50,$250,$1,000,$2,500",2,1,32.19
483,22228166,The Lair - A Short Horror Film,http://www.kickstarter.com/projects/1536081932...,Film & Video,Short Film,NaN,successful,2000.0,4025.0,2.012500,66,"Sun, 03 Oct 2010 02:10:19 -0000",6,"$1,$15,$25,$50,$100,$1,000",10,1,45.00
509,23244535,The second Funny Little Fella album (still fun...,http://www.kickstarter.com/projects/965936878/...,Music,Music,NaN,successful,3000.0,3079.0,1.026333,45,"Mon, 05 Apr 2010 04:44:00 -0000",7,"$3,$5,$15,$25,$50,$100,$250",0,0,29.91
636,29465183,Paddy Mirage Metropolis 2010 &gt; An Irish pub...,http://www.kickstarter.com/projects/2038563099...,Food,Food,NaN,failed,3000.0,355.0,0.118333,8,"Wed, 18 Aug 2010 19:00:00 -0000",1,$5,1,3,31.88
719,32971380,&amp;Wellington ( Crocheting &amp; Knitting pr...,http://www.kickstarter.com/projects/713900897/...,Design,Crafts,NaN,failed,3000.0,825.0,0.275000,20,"Fri, 02 Apr 2010 18:16:00 -0000",6,"$5,$15,$25,$85,$110,$1,500",0,0,89.47
724,33409274,Join the journey and release Bitch's next albu...,http://www.kickstarter.com/projects/bitchblast...,Music,Indie Rock,NaN,successful,10000.0,11827.0,1.182662,131,"Sat, 10 Oct 2009 12:59:00 -0000",10,"$1,$15,$25,$50,$100,$200,$500,$1,000,$2,000,$3...",21,21,65.48
730,33686166,Empower Women in Rwanda through Social Enterprise,http://www.kickstarter.com/projects/971742034/...,Art,Art,NaN,successful,600.0,650.0,1.083333,25,"Sat, 01 Aug 2009 06:00:00 -0000",6,"$5,$25,$50,$200,$400,$500",3,0,53.29
772,35471729,&quot;Still Around&quot; - a Video AIDS Quilt ...,http://www.kickstarter.com/projects/HIVStoryPr...,Film & Video,Short Film,NaN,successful,8000.0,13716.0,1.714500,67,"Fri, 01 Oct 2010 06:59:00 -0000",10,"$10,$25,$50,$75,$100,$250,$500,$1,000,$2,500,$...",6,2,42.16
811,37560044,Dead Eats: A Zombie Cook Book,http://www.kickstarter.com/projects/522326783/...,Publishing,Publishing,NaN,failed,1000.0,745.0,0.745000,13,"Sat, 07 Aug 2010 04:09:00 -0000",10,"$1,$5,$10,$15,$20,$25,$30,$50,$75,$150",4,3,50.39
851,39368553,"Chameleon, the experience of global citizens",http://www.kickstarter.com/projects/1729683186...,Dance,Dance,NaN,failed,1200.0,20.0,0.016667,2,"Thu, 08 Jul 2010 17:30:00 -0000",7,"$1,$6,$26,$100,$250,$500,$1,000",1,0,49.96
860,39739909,Choose Your Own Adventure - A Robot Painting S...,http://www.kickstarter.com/projects/ryan/choos...,Art,Painting,NaN,failed,3500.0,575.0,0.164286,18,"Sun, 14 Jun 2009 02:29:00 -0000",3,"$5,$35,$45",0,9,30.94
888,41023385,Floating Doctors,http://www.kickstarter.com/projects/floatingdo...,Photography,Photography,NaN,successful,500.0,3095.0,6.190000,20,"Mon, 02 Nov 2009 13:03:00 -0000",5,"$1,$35,$75,$125,$2,500",1,2,27.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44708,2097367327,The Eventful Life of Al Hawkes,http://www.kickstarter.com/projects/rockhousem...,Film &amp; Video,Documentary,NaN,successful,1000.0,1455.0,1.455000,36,"Fri, 23 Apr 2010 03:51:00 -0000",7,"$5,$10,$25,$50,$150,$175,$250",14,1,85.99
44715,2097647188,One cellist. One accordionist. One mission.,http://www.kickstarter.com/projects/1312800545...,Music,Country &amp; Folk,NaN,successful,100.0,205.0,2.050000,9,"Tue, 01 Jun 2010 04:00:00 -0000",9,"$2,$5,$15,$30,$50,$80,$100,$150,$300",6,3,45.39
44726,2098151846,HABARI - The African American Facts Game,http://www.kickstarter.com/projects/habari/hab...,Games,Video Games,NaN,failed,7500.0,10.0,0.001333,1,"Sun, 20 Jun 2010 16:43:00 -0000",5,"$5,$10,$50,$100,$500",0,0,45.94
44748,2099198357,Addicted the Magazine: Celebrating societies d...,http://www.kickstarter.com/projects/FrankieSho...,Publishing,Publishing,NaN,failed,1400.0,30.0,0.021429,2,"Fri, 28 May 2010 19:13:00 -0000",9,"$5,$14,$22,$66,$111,$333,$444,$666,$1,111",0,0,29.05
44781,2101209122,Lift Off!,http://www.kickstarter.com/projects/LaunchPad/...,Art,Art,NaN,successful,6000.0,6000.0,1.000000,123,"Tue, 09 Mar 2010 04:00:00 -0000",8,"$2,$10,$20,$40,$80,$150,$250,$400",11,22,56.90
44805,2102499682,QUIET SHOES: Independent film noir. Project i...,http://www.kickstarter.com/projects/687107187/...,Film &amp; Video,Film &amp; Video,NaN,successful,2000.0,2156.0,1.078000,35,"Sat, 01 May 2010 19:00:00 -0000",5,"$10,$25,$50,$100,$250",2,3,64.96
44861,2104838306,Luscious Lemons Lemonade ~ Quenching the Thirs...,http://www.kickstarter.com/projects/1952778452...,Food,Food,NaN,failed,1500.0,150.0,0.100000,4,"Sat, 26 Jun 2010 03:00:00 -0000",7,"$2,$5,$10,$25,$50,$100,$500",0,0,20.32
44969,2109760805,"Free Adventures: A Documentary about Creative,...",http://www.kickstarter.com/projects/CaperBox/f...,Film &amp; Video,Documentary,NaN,failed,10000.0,1405.0,0.140500,26,"Wed, 10 Mar 2010 07:41:00 -0000",12,"$5,$10,$20,$35,$50,$75,$75,$85,$175,$250,$375,...",3,0,89.87
44970,2109798222,Dollar Short (A comedy web series about film m...,http://www.kickstarter.com/projects/roadtoglor...,Film &amp; Video,Webseries,NaN,failed,500.0,15.0,0.030000,1,"Thu, 24 Jun 2010 04:59:00 -0000",7,"$1,$5,$15,$25,$50,$75,$100",0,0,31.19
45031,2112307286,The Life &amp; Times Of... making a Debut Album!,http://www.kickstarter.com/projects/thelifeand...,Music,Indie Rock,NaN,successful,2000.0,4455.0,2.227720,41,"Mon, 01 Feb 2010 19:06:00 -0000",10,"$5,$10,$20,$35,$50,$100,$250,$500,$1,000,$5,000",3,2,81.96
45066,2113925736,Kyle James Hauser's First Solo Album!,http://www.kickstarter.com/projects/kylejamesh...,Music,Indie Rock,NaN,successful,5000.0,6595.0,1.319000,87,"Mon, 03 May 2010 04:00:00 -0000",6,"$10,$25,$50,$100,$500,$1,000",12,5,28.02
45128,2116660261,FISHIN' FOR CHICKENS short film,http://www.kickstarter.com/projects/mrim86/fis...,Film &amp; Video,Short Film,NaN,failed,3545.0,220.0,0.062059,6,"Wed, 01 Sep 2010 03:59:00 -0000",8,"$5,$10,$25,$50,$100,$250,$500,$1,000",1,1,48.46
45165,2118224945,Game wardens documentary DVD distribution,http://www.kickstarter.com/projects/258007732/...,Film &amp; Video,Documentary,NaN,failed,4400.0,0.0,0.000000,0,"Thu, 26 Aug 2010 21:19:00 -0000",1,$5,0,0,30.86
45188,2118914213,Manin,http://www.kickstarter.com/projects/manin/manin,Film &amp; Video,Documentary,NaN,successful,5000.0,5271.0,1.054200,81,"Sun, 18 Jul 2010 09:40:00 -0000",6,"$10,$25,$50,$100,$500,$5,000",0,2,38.48
45232,2121091524,The Cross Country Random Acts of Flowers and Y...,http://www.kickstarter.com/projects/andrealahu...,Art,Painting,NaN,successful,6400.0,6528.0,1.020000,28,"Sun, 13 Jun 2010 19:18:00 -0000",8,"$1,$5,$10,$20,$50,$118,$258,$518",7,0,10.28
45271,2122715722,Geekchicgirls Calendar,http://www.kickstarter.com/projects/1441561371...,Photography,Photography,NaN,failed,3000.0,25.0,0.008333,1,"Sat, 14 Aug 2010 19:34:00 -0000",9,"$5,$15,$25,$50,$100,$250,$500,$1,000,$3,000",0,0,37.08
45437,2129915237,"Help Lucia'Stories, a dominican children book ...",http://www.kickstarter.com/projects/anyadamiro...,Publishing,Children's Book,NaN,failed,10000.0,177.0,0.017743,6,"Fri, 16 Oct 2009 09:00:00 -0000",8,"$5,$10,$25,$50,$100,$300,$500,$1,000",3,0,51.53
45535,2134618875,Musicking! It's about time I made a new album...,http://www.kickstarter.com/projects/juliabarry...,Music,Indie Rock,NaN,successful,2500.0,2720.0,1.088000,52,"Thu, 06 May 2010 03:59:00 -0000",8,"$5,$10,$25,$50,$100,$250,$500,$1,000",14,10,89.90
45560,2135944944,The Mande Sessions- Make my Malian music album,http://www.kickstarter.com/projects/adamklein/...,Music,Country &amp; Folk,NaN,successful,7500.0,7684.0,1.024533,77,"Sun, 13 Sep 2009 21:00:00 -0000",15,"$5,$10,$25,$35,$50,$100,$250,$500,$750,$1,000,...",9,6,89.71
45615,2139287614,International Beer Day! A Glorious Celebration...,http://www.kickstarter.com/projects/1157905759...,Food,Food,NaN,failed,6000.0,176.0,0.029355,17,"Fri, 09 Jul 2010 06:05:00 -0000",9,"$5,$10,$25,$50,$100,$250,$1,000,$2,500,$5,000",2,7,29.98
45636,2139808326,DJ Nexus studio album &quot;Shatterproof&quot;,http://www.kickstarter.com/projects/1576789312...,Music,Indie Rock,NaN,failed,3000.0,0.0,0.000000,0,"Tue, 31 Aug 2010 16:30:00 -0000",7,"$1,$5,$15,$30,$50,$100,$200",0,0,47.11
45753,2142528062,Josh Jennings for Congress TV pilot,http://www.kickstarter.com/projects/1096282102...,Film &amp; Video,Short Film,NaN,successful,20000.0,20841.0,1.042051,178,"Fri, 05 Mar 2010 05:00:00 -0000",8,"$25,$50,$100,$250,$500,$1,000,$2,500,$5,000",10,3,8.28
45754,2142528062,Josh Jennings for Congress TV pilot,http://www.kickstarter.com/projects/1096282102...,Film & Video,Short Film,NaN,successful,20000.0,20841.0,1.042051,178,"Fri, 05 Mar 2010 05:00:00 -0000",8,"$25,$50,$100,$250,$500,$1,000,$2,500,$5,000",10,3,8.28
45789,2143094521,James Kochalka + Pixeljam = Glorkian Warrior,http://www.kickstarter.com/projects/pixeljam/j...,Games,Video Games,NaN,successful,10000.0,11201.0,1.120056,229,"Tue, 23 Mar 2010 05:38:00 -0000",8,"$10,$25,$50,$100,$250,$500,$1,000,$2,500",26,18,30.46
45790,2143094521,James Kochalka + Pixeljam = Glorkian Warrior,http://www.kickstarter.com/projects/pixeljam/j...,Games,Video Games,NaN,successful,10000.0,11201.0,1.120056,229,"Tue, 23 Mar 2010 05:38:00 -0000",8,"$10,$25,$50,$100,$250,$500,$1,000,$2,500",26,18,30.46
45809,2143547539,Animal Rescue!,http://www.kickstarter.com/projects/726492935/...,Film &amp; Video,Short Film,NaN,failed,3300.0,0.0,0.000000,0,"Thu, 16 Sep 2010 20:03:49 -0000",2,"$25,$500",0,0,30.00
45810,2143547539,Animal Rescue!,http://www.kickstarter.com/projects/726492935/...,Film & Video,Short Film,NaN,failed,3300.0,0.0,0.000000,0,"Thu, 16 Sep 2010 20:03:49 -0000",2,"$25,$500",0,0,30.00
45927,2146319054,Onipa`a (Be Steadfast),http://www.kickstarter.com/projects/1223795292...,Film &amp; Video,Short Film,NaN,failed,7000.0,446.0,0.063714,6,"Sun, 03 Oct 2010 04:00:00 -0000",7,"$5,$10,$25,$50,$100,$500,$1,000",1,0,60.99
45928,2146319054,Onipa`a (Be Steadfast),http://www.kickstarter.com/projects/1223795292...,Film & Video,Short Film,NaN,failed,7000.0,446.0,0.063714,6,"Sun, 03 Oct 2010 04:00:00 -0000",7,"$5,$10,$25,$50,$100,$500,$1,000",1,0,60.99
45951,2147219671,You Are Among Friends: a book for the little s...,http://www.kickstarter.com/projects/1877936423...,Publishing,Publishing,NaN,successful,350.0,750.0,2.142857,41,"Wed, 01 Jul 2009 05:00:00 -0000",0,NaN,3,10,61.99

In [16]:
kick.isnull().sum()

project id              0
name                    0
url                     0
category                0
subcategory             0
location             1322
status                  0
goal                    0
pledged                12
funded percentage       0
backers                 0
funded date             0
levels                  0
reward levels          59
updates                 0
comments                0
duration                0
dtype: int64

In [27]:
kick[["city","origin"]] = kick["location"].str.split(', ', n=1, expand=True)
# df[["city","state-country"]] = df["location"].str.split(',', n=1, expand=True)
#     df = df.drop(["location"],axis=1)
#     return df

In [52]:
list(kick.origin.unique())

['MO',
 'NJ',
 'CA',
 'MI',
 'OR',
 'TN',
 'IL',
 nan,
 'NY',
 'DC',
 'NE',
 'ID',
 'FL',
 'TX',
 'CO',
 'ME',
 'Taiwan',
 'IN',
 'OH',
 'Norway',
 'MA',
 'MN',
 'PA',
 'NC',
 'WV',
 'CT',
 'Chile',
 'MD',
 'HI',
 'VA',
 'WA',
 'AZ',
 'OK',
 'NV',
 'Haiti',
 'GA',
 'AL',
 'UT',
 'Canada',
 'LA',
 'SC',
 'Ecuador',
 'WI',
 'Jamaica',
 'Argentina',
 'Hong Kong',
 'Germany',
 'NM',
 'Guatemala',
 'NH',
 'IA',
 'WY',
 'Australia',
 'RI',
 'Sweden',
 'France',
 'DE',
 'South Africa',
 'AK',
 'Nepal',
 'MT',
 'KY',
 'VT',
 'Kenya',
 'Bosnia and Herzegovina',
 'Iceland',
 'Mexico',
 'KS',
 'Hungary',
 'Indonesia',
 'China',
 'SD',
 'Cuba',
 'Peru',
 'Italy',
 'Netherlands',
 'Singapore',
 'Ethiopia',
 'New Zealand',
 'United Kingdom',
 'Austria',
 'Turkey',
 'AR',
 'Mt',
 'Congo',
 'Colombia',
 'India',
 'Mongolia',
 'MS',
 'Israel',
 'Dominica',
 'Spain',
 'Finland',
 'Czech Republic',
 'Japan',
 'Virgin Islands, U.S.',
 'Lebanon',
 'Armenia',
 'Portugal',
 'Qatar',
 'Morocco',
 'Martinique',
 'Puerto Rico',
 'Afghanistan',
 'Denmark',
 'Tanzania',
 'Kazakhstan',
 'Zambia',
 'Switzerland',
 'Egypt',
 'Svalbard and Jan Mayen',
 'ND',
 'Burkina Faso',
 'Liberia',
 'Ghana',
 'Nicaragua',
 'Russia',
 'Ukraine',
 'Bulgaria',
 'South Korea',
 'Brazil',
 'Rwanda',
 'Costa Rica',
 'Philippines',
 'Pakistan',
 'El Salvador',
 'Panama',
 'United Arab Emirates',
 'Romania',
 'Honduras',
 'Palestinian Territories',
 'Poland',
 'Georgia',
 'Syrian Arab Republic',
 'Bolivia',
 'Greece',
 'Cambodia',
 'Nigeria',
 'Mali',
 'Saudi Arabia',
 'Argent',
 'Iraq',
 'Cameroon',
 'Namibia',
 'Ireland',
 'Venezuela',
 None,
 'Thailand',
 'Jordan',
 'Tunisia',
 'Zimbabwe',
 'Iran',
 'Sierra Leone',
 'Isle of Man',
 'Central African Republic',
 'Serbia',
 'Belize',
 'Uganda',
 'Malta',
 'Slovenia',
 'Sudan',
 'Belgium',
 'Myanmar',
 'Malaysia',
 'North Korea',
 'Greenland',
 'Senegal',
 'Bahamas',
 'Malawi',
 'Mozambique',
 'Bhutan',
 'Lithuania',
 'Micronesia',
 'Equatorial Guinea',
 'Tajikistan',
 'Kyoto, Japan',
 'Sri Lanka',
 'Libyan Arab Jamahiriya',
 'Guinea',
 'Bermuda',
 'Belarus',
 'Estonia',
 'Suriname',
 'Dominican Republic',
 'Vanuatu',
 'Trinidad and Tobago',
 'Cyprus',
 'Macedonia',
 'Viet Nam',
 'Scotland, United Kingdom',
 'Barbados',
 'Swaziland',
 'Falkland Islands',
 'Kyrgyzstan',
 'Bangladesh',
 'Laos',
 'Middleburg, MD',
 'Papua New Guinea',
 'Virginia',
 'Uruguay',
 'Guam',
 'Dominican Re',
 'Saint Lucia']

In [28]:
kick.groupby("origin").count()

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,backers,funded date,levels,reward levels,updates,comments,duration,extra,city
origin,,,,,,,,,,,,,,,,,,,
AK,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110,110
AL,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166,166
AR,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106,106
AZ,649,649,649,649,649,649,649,649,649,649,649,649,649,649,649,649,649,649,649
Afghanistan,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Argent,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Argentina,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
Armenia,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Australia,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57,57
Austria,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
Bahamas,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Bangladesh,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Barbados,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Belarus,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Belgium,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Belize,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Bermuda,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Bhutan,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Bolivia,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Bosnia and Herzegovina,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Brazil,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38,38
Bulgaria,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Burkina Faso,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
CA,8973,8973,8973,8973,8973,8973,8973,8973,8968,8973,8973,8973,8973,8966,8973,8973,8973,8973,8973
CO,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807
CT,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328
Cambodia,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Cameroon,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Canada,284,284,284,284,284,284,284,284,284,284,284,284,284,284,284,284,284,284,284
Central African Republic,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Switzerland,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Syrian Arab Republic,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
TN,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017,1017
TX,2056,2056,2056,2056,2056,2056,2056,2056,2056,2056,2056,2056,2056,2055,2056,2056,2056,2056,2056
Taiwan,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Tajikistan,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Tanzania,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Thailand,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
Trinidad and Tobago,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Tunisia,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Turkey,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19
UT,437,437,437,437,437,437,437,437,437,437,437,437,437,437,437,437,437,437,437
Uganda,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
Ukraine,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
United Arab Emirates,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
United Kingdom,215,215,215,215,215,215,215,215,214,215,215,215,215,215,215,215,215,215,215
Uruguay,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
VA,556,556,556,556,556,556,556,556,556,556,556,556,556,556,556,556,556,556,556
VT,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187,187
Vanuatu,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Venezuela,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Viet Nam,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
"Virgin Islands, U.S.",2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Virginia,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
WA,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426,1426,1425,1426,1426,1426,1426,1426
WI,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397
WV,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
WY,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
Zambia,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Zimbabwe,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4

Unusual Origins:  
- None
- Argent?
- Mt >> Montana
- nan
- Kyoto, Japan (as origin, drop Kyoto)
- Dominican Re, Dominican Republic
- 

**TASKS**
- Change Mt to Montana (36 entries)
- Change Argent to Argentina

In [84]:
org.head()

           origin continent       sub_region
0     Afghanistan      Asia    Southern Asia
1   Åland Islands    Europe  Northern Europe
2         Albania    Europe  Southern Europe
3         Algeria    Africa  Northern Africa
4  American Samoa   Oceania        Polynesia

In [86]:
kick.join(org, on="origin")

KeyError: 'origin'